<div class="col-md-12">
	<h2 class="text-center">我發表過的文章</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Content</th>
				<th>Group Name</th>
				<th>Last Update</th>
				<ht colspan="2"></ht>
			</tr>
		</thead>
		<tbody>
			<% @my_posts.each do |post| %>
			<tr>
				<td><%= post.content %></td>
				<td><%= post.discuss_group.title %></td>
				<td><%= post.updated_at %></td>
				<td><%= link_to "Edit", edit_discuss_group_post_path(post.discuss_group, post), class: "btn btn-default btn-xs" %></td>
				<td><%= link_to "Delete", 
								discuss_group_post_path(post.discuss_group, post), 
								method: :delete, 
								class: "btn btn-default btn-xs", 
								data: {confirm:"Are You Sure?"} %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>