<%= form_for discuss_group do |f| %>

	<% if discuss_group.errors.any? %>
		<% discuss_group.errors.full_messages.each do |msg| %>
			<li><%=msg %></li>
		<% end %>
	<% end %>

	<div class="form-group">
		<div class="form-group string optional">
			<%= f.label "title", class: "string optional control-label" %>
			<%= f.text_field :title, class: "string optional form-control" %>		
		</div>
		<div class="form-group string optional">
			<%= f.label "內容", class: "string optional control-label" %>
			<%= f.text_area :description, class: "string optional form-control" %>		
		</div>
		<%= f.submit "送出", disable_with: "submiting..." %>
	</div>
	
<% end %>