<div class="col-md-12">
	<div class="group">
		<span class="pull-right">
			<% if current_user && current_user.is_member_of?(@discuss_group) %>
				<label for="" class="label label-success">討論群成員</label>
			<% else %>
				<label for="" class="label label-warning">非討論群成員</label>	
			<% end %>
		</span>

		<%= link_to "Write a Post", new_discuss_group_post_path(@discuss_group), class: "btn btn-default pull-right" %>
		<% if current_user && current_user == @discuss_group.user %>
			<%= link_to "Edit", edit_discuss_group_path(@discuss_group), class: "btn btn-primary pull-right" %>
		<% end %>			
	</div>
	<h2><%= @discuss_group.title %></h2>
	<p>
		<%= @discuss_group.description %>
	</p>

	<table class="table">
		<thead>
			<tr>
				<th>文章內容</th>
				<th>發表者</th>
				<th>發表時間</th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td><%= post.content %></td>
				<td><%= post.user.email %></td>
				<td><%= post.created_at %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="apple_pagination">
		<%= will_paginate @posts %>
	</div>

	


</div>